---
import svgSource from '../assets/sun.svg'
import jpgSource from '../assets/example.jpg?width=500&format=webp'
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Astro Playground</title>
</head>

<body>
	<h1>Astro Playground</h1>
	<img src={svgSource} />
	<img src={jpgSource} />
</body>

</html>
